{% comment %}
  {% for type in shop.enabled_payment_types %}
    <li class="payment-icon">
      {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
    </li>
  {% endfor %}
{% endcomment %}

{% assign displayTitle = "hide" %}
{%if tabs %}
    {% assign displayTitle = "payment-icon-title" %}
  <div class="product-tabs-icons">
{%endif%}

<li class="payment-icon">
   {% include 'afterpay-icon-footer' %}
  <span class="{{displayTitle}}"> AfterPay </span>
</li>
  
<li class="payment-icon">
  {% include 'amex-icon' %}
  <span class="{{displayTitle}}"> AMEX </span>
</li>
<li class="payment-icon">
  {% include 'applepay-icon' %}
   <span class="{{displayTitle}}"> ApplePay </span>
</li>
<li class="payment-icon">
  {% include 'gpay-icon' %}
  <span class="{{displayTitle}}"> GooglePay </span>
</li>
<li class="payment-icon">
  {% include 'mastercard-icon' %}
  <span class="{{displayTitle}}"> MasterCard </span>
</li>
<li class="payment-icon">
  {% include 'paypal-icon' %}
   <span class="{{displayTitle}}"> PayPal </span>
</li>
<li class="payment-icon">
  {% include 'visa-icon' %}
  <span class="{{displayTitle}}"> Visa </span>
</li>