<footer class="desktop-footer sxfsdf">
  <div class="custom-container page-width">
    <div class="desktop_footer_inner">
      <div class="footer-menu">
        <div class="footer-menu-innerbox company_block">
          <h5>{{ section.settings.text1 }}</h5>
          <ul>
            {% for link in linklists[section.settings.col1].links %}
              <li>
                <a href="{{link.url}}">{{ link.title }} </a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="footer-menu-innerbox customer_block">
          <h5>{{ section.settings.text2 }}</h5>
          <ul>
            {% for link in linklists[section.settings.col2].links %}
              <li>
                <a href="{{link.url}}">{{ link.title }} </a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="footer-menu-innerbox account_block">
          <h5>{{ section.settings.text3 }}</h5>
          <ul>
            {% for link in linklists[section.settings.col3].links %}
              <li>
                <a href="{{link.url}}">{{ link.title }} </a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <!--
          <div class="footer-menu-innerbox shipping_block">
            {% if section.settings.shippingfrom != blank %}
              <h5>{{ section.settings.textship }}</h5>
              <div class="footershipping_info">
                <span class="country_icon">
                  {% include 'newcountry-logo' %}
                </span>
                {{ section.settings.shippingfrom }}
                <span class="footerdown_arrow">
                  <svg width="9" height="10" viewBox="0 0 9 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.196 8.796C4.98 9.012 4.744 9.12 4.488 9.12C4.24 9.12 4.008 9.012 3.792 8.796L0.78 5.784L1.464 5.112L3.984 7.656V0.599999H5.004V7.668L7.548 5.112L8.208 5.772L5.196 8.796Z" fill="black"/>
                  </svg>
                </span>
              </div>
            {% endif %}
          </div>
        -->
        <div class="footer-menu-innerbox email_block">
          <div class="footer-newsletter-box customer ">
            {% comment %}
              {{section.settings.logo}}
            {% endcomment %}
            <h5>{{ section.settings.substitlemain1 }}</h5>
            <p>{{ section.settings.substitle }}</p>
            <div class="footernewsletter-wrap">
              {% form 'customer', id: 'newsContact', novalidate: 'novalidate', data-id: 'hello' %}
                {%- if form.posted_successfully? -%}
                  <p class="form-message form-message--success" tabindex="-1" data-form-status>
                    {{ 'general.default.successfully_subscribe_msg' | t }}
                  </p>
                {%- endif -%}
                <input type="hidden" name="contact[tags]" value="newsletter">
                <div class="input-group field">
                  <input
                    id="emailData"
                    type="email"
                    for="email"
                    name="contact[email]"
                    value=""
                    class="form-control"
                    placeholder="Email Address"
                  >
                  <label for="CustomerEmail"> {{ 'general.default.placeholder_form_newsletter' | t }} </label>
                </div>
                <button type="submit">
                  {% comment %}
                    <i class="fas fa-chevron-right"></i>
                  {% endcomment %}
                  Subscribe
                </button>
              {% endform %}
              <div id="newsContact_aftermsg" style="display:none;" class="form__submit-messaging">
                <span class="email_thankyou_message">Thanks for signing up!</span>
                <span class="form-icon form-icon__success">
                  <svg width="24" height="24" viewBox="0 0 250 250" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M75.1873 123.062V125.395H66.1287V123.062H75.1873ZM66.8553 115.938V133H63.9139V115.938H66.8553ZM77.4491 115.938V133H74.5194V115.938H77.4491ZM79.6527 126.801V126.531C79.6527 125.617 79.7855 124.77 80.0511 123.988C80.3167 123.199 80.6995 122.516 81.1995 121.938C81.7073 121.352 82.3245 120.898 83.0511 120.578C83.7855 120.25 84.6136 120.086 85.5355 120.086C86.4652 120.086 87.2933 120.25 88.0198 120.578C88.7542 120.898 89.3753 121.352 89.8831 121.938C90.3909 122.516 90.7777 123.199 91.0433 123.988C91.3089 124.77 91.4417 125.617 91.4417 126.531V126.801C91.4417 127.715 91.3089 128.562 91.0433 129.344C90.7777 130.125 90.3909 130.809 89.8831 131.395C89.3753 131.973 88.7581 132.426 88.0316 132.754C87.305 133.074 86.4808 133.234 85.5589 133.234C84.6292 133.234 83.7972 133.074 83.0628 132.754C82.3363 132.426 81.7191 131.973 81.2113 131.395C80.7034 130.809 80.3167 130.125 80.0511 129.344C79.7855 128.562 79.6527 127.715 79.6527 126.801ZM82.4769 126.531V126.801C82.4769 127.371 82.5355 127.91 82.6527 128.418C82.7698 128.926 82.9534 129.371 83.2034 129.754C83.4534 130.137 83.7738 130.438 84.1644 130.656C84.555 130.875 85.0198 130.984 85.5589 130.984C86.0823 130.984 86.5355 130.875 86.9183 130.656C87.3089 130.438 87.6292 130.137 87.8792 129.754C88.1292 129.371 88.3128 128.926 88.43 128.418C88.555 127.91 88.6175 127.371 88.6175 126.801V126.531C88.6175 125.969 88.555 125.438 88.43 124.938C88.3128 124.43 88.1253 123.98 87.8675 123.59C87.6175 123.199 87.2972 122.895 86.9066 122.676C86.5238 122.449 86.0667 122.336 85.5355 122.336C85.0042 122.336 84.5433 122.449 84.1527 122.676C83.7698 122.895 83.4534 123.199 83.2034 123.59C82.9534 123.98 82.7698 124.43 82.6527 124.938C82.5355 125.438 82.4769 125.969 82.4769 126.531ZM100.477 130.457V124.41C100.477 123.957 100.395 123.566 100.231 123.238C100.067 122.91 99.8172 122.656 99.4813 122.477C99.1531 122.297 98.7391 122.207 98.2391 122.207C97.7781 122.207 97.3797 122.285 97.0438 122.441C96.7078 122.598 96.4461 122.809 96.2586 123.074C96.0711 123.34 95.9773 123.641 95.9773 123.977H93.1648C93.1648 123.477 93.2859 122.992 93.5281 122.523C93.7703 122.055 94.1219 121.637 94.5828 121.27C95.0438 120.902 95.5945 120.613 96.2352 120.402C96.8758 120.191 97.5945 120.086 98.3914 120.086C99.3445 120.086 100.188 120.246 100.923 120.566C101.665 120.887 102.247 121.371 102.669 122.02C103.098 122.66 103.313 123.465 103.313 124.434V130.07C103.313 130.648 103.352 131.168 103.43 131.629C103.516 132.082 103.638 132.477 103.794 132.812V133H100.899C100.766 132.695 100.661 132.309 100.583 131.84C100.513 131.363 100.477 130.902 100.477 130.457ZM100.888 125.289L100.911 127.035H98.8836C98.3602 127.035 97.8992 127.086 97.5008 127.188C97.1023 127.281 96.7703 127.422 96.5047 127.609C96.2391 127.797 96.0398 128.023 95.907 128.289C95.7742 128.555 95.7078 128.855 95.7078 129.191C95.7078 129.527 95.7859 129.836 95.9422 130.117C96.0984 130.391 96.325 130.605 96.6219 130.762C96.9266 130.918 97.2938 130.996 97.7234 130.996C98.3016 130.996 98.8055 130.879 99.2352 130.645C99.6727 130.402 100.016 130.109 100.266 129.766C100.516 129.414 100.649 129.082 100.665 128.77L101.579 130.023C101.485 130.344 101.325 130.688 101.098 131.055C100.872 131.422 100.575 131.773 100.208 132.109C99.8484 132.438 99.4148 132.707 98.907 132.918C98.407 133.129 97.8289 133.234 97.1727 133.234C96.3445 133.234 95.6063 133.07 94.9578 132.742C94.3094 132.406 93.8016 131.957 93.4344 131.395C93.0672 130.824 92.8836 130.18 92.8836 129.461C92.8836 128.789 93.0086 128.195 93.2586 127.68C93.5164 127.156 93.8914 126.719 94.3836 126.367C94.8836 126.016 95.493 125.75 96.2117 125.57C96.9305 125.383 97.7508 125.289 98.6727 125.289H100.888ZM97.6766 115L99.9617 118.527H97.6063L94.4773 115H97.6766ZM108.587 123.027V133H105.763V120.32H108.423L108.587 123.027ZM108.083 126.191L107.169 126.18C107.177 125.281 107.302 124.457 107.544 123.707C107.794 122.957 108.138 122.312 108.575 121.773C109.021 121.234 109.552 120.82 110.169 120.531C110.786 120.234 111.474 120.086 112.232 120.086C112.841 120.086 113.392 120.172 113.884 120.344C114.384 120.508 114.81 120.777 115.161 121.152C115.521 121.527 115.794 122.016 115.982 122.617C116.169 123.211 116.263 123.941 116.263 124.809V133H113.427V124.797C113.427 124.188 113.337 123.707 113.158 123.355C112.986 122.996 112.732 122.742 112.396 122.594C112.068 122.438 111.658 122.359 111.165 122.359C110.681 122.359 110.247 122.461 109.865 122.664C109.482 122.867 109.158 123.145 108.892 123.496C108.634 123.848 108.435 124.254 108.294 124.715C108.154 125.176 108.083 125.668 108.083 126.191ZM130.901 115.938V133H127.983V115.938H130.901ZM136.256 115.938V118.281H122.674V115.938H136.256ZM140.534 115V133H137.721V115H140.534ZM140.042 126.191L139.128 126.18C139.135 125.305 139.257 124.496 139.491 123.754C139.733 123.012 140.069 122.367 140.499 121.82C140.936 121.266 141.46 120.84 142.069 120.543C142.678 120.238 143.354 120.086 144.096 120.086C144.721 120.086 145.284 120.172 145.784 120.344C146.292 120.516 146.729 120.793 147.096 121.176C147.464 121.551 147.741 122.043 147.928 122.652C148.124 123.254 148.221 123.988 148.221 124.855V133H145.385V124.832C145.385 124.223 145.296 123.738 145.116 123.379C144.944 123.02 144.69 122.762 144.354 122.605C144.018 122.441 143.608 122.359 143.124 122.359C142.616 122.359 142.167 122.461 141.776 122.664C141.393 122.867 141.073 123.145 140.815 123.496C140.557 123.848 140.362 124.254 140.229 124.715C140.104 125.176 140.042 125.668 140.042 126.191ZM157.749 130.457V124.41C157.749 123.957 157.667 123.566 157.503 123.238C157.339 122.91 157.089 122.656 156.753 122.477C156.425 122.297 156.011 122.207 155.511 122.207C155.05 122.207 154.652 122.285 154.316 122.441C153.98 122.598 153.718 122.809 153.53 123.074C153.343 123.34 153.249 123.641 153.249 123.977H150.437C150.437 123.477 150.558 122.992 150.8 122.523C151.042 122.055 151.394 121.637 151.855 121.27C152.316 120.902 152.866 120.613 153.507 120.402C154.148 120.191 154.866 120.086 155.663 120.086C156.616 120.086 157.46 120.246 158.195 120.566C158.937 120.887 159.519 121.371 159.941 122.02C160.37 122.66 160.585 123.465 160.585 124.434V130.07C160.585 130.648 160.624 131.168 160.702 131.629C160.788 132.082 160.909 132.477 161.066 132.812V133H158.171C158.038 132.695 157.933 132.309 157.855 131.84C157.784 131.363 157.749 130.902 157.749 130.457ZM158.159 125.289L158.183 127.035H156.155C155.632 127.035 155.171 127.086 154.773 127.188C154.374 127.281 154.042 127.422 153.777 127.609C153.511 127.797 153.312 128.023 153.179 128.289C153.046 128.555 152.98 128.855 152.98 129.191C152.98 129.527 153.058 129.836 153.214 130.117C153.37 130.391 153.597 130.605 153.894 130.762C154.198 130.918 154.566 130.996 154.995 130.996C155.573 130.996 156.077 130.879 156.507 130.645C156.945 130.402 157.288 130.109 157.538 129.766C157.788 129.414 157.921 129.082 157.937 128.77L158.851 130.023C158.757 130.344 158.597 130.688 158.37 131.055C158.144 131.422 157.847 131.773 157.48 132.109C157.12 132.438 156.687 132.707 156.179 132.918C155.679 133.129 155.101 133.234 154.445 133.234C153.616 133.234 152.878 133.07 152.23 132.742C151.581 132.406 151.073 131.957 150.706 131.395C150.339 130.824 150.155 130.18 150.155 129.461C150.155 128.789 150.28 128.195 150.53 127.68C150.788 127.156 151.163 126.719 151.655 126.367C152.155 126.016 152.765 125.75 153.484 125.57C154.202 125.383 155.023 125.289 155.945 125.289H158.159ZM154.948 115L157.234 118.527H154.878L151.749 115H154.948ZM165.859 123.027V133H163.035V120.32H165.695L165.859 123.027ZM165.355 126.191L164.441 126.18C164.449 125.281 164.574 124.457 164.816 123.707C165.066 122.957 165.41 122.312 165.847 121.773C166.293 121.234 166.824 120.82 167.441 120.531C168.058 120.234 168.746 120.086 169.504 120.086C170.113 120.086 170.664 120.172 171.156 120.344C171.656 120.508 172.082 120.777 172.433 121.152C172.793 121.527 173.066 122.016 173.254 122.617C173.441 123.211 173.535 123.941 173.535 124.809V133H170.699V124.797C170.699 124.188 170.609 123.707 170.429 123.355C170.258 122.996 170.004 122.742 169.668 122.594C169.34 122.438 168.929 122.359 168.437 122.359C167.953 122.359 167.519 122.461 167.136 122.664C166.754 122.867 166.429 123.145 166.164 123.496C165.906 123.848 165.707 124.254 165.566 124.715C165.425 125.176 165.355 125.668 165.355 126.191ZM178.727 115V133H175.914V115H178.727ZM178.235 126.191L177.32 126.18C177.328 125.305 177.449 124.496 177.684 123.754C177.926 123.012 178.262 122.367 178.692 121.82C179.129 121.266 179.652 120.84 180.262 120.543C180.871 120.238 181.547 120.086 182.289 120.086C182.914 120.086 183.477 120.172 183.977 120.344C184.485 120.516 184.922 120.793 185.289 121.176C185.656 121.551 185.934 122.043 186.121 122.652C186.317 123.254 186.414 123.988 186.414 124.855V133H183.578V124.832C183.578 124.223 183.488 123.738 183.309 123.379C183.137 123.02 182.883 122.762 182.547 122.605C182.211 122.441 181.801 122.359 181.317 122.359C180.809 122.359 180.36 122.461 179.969 122.664C179.586 122.867 179.266 123.145 179.008 123.496C178.75 123.848 178.555 124.254 178.422 124.715C178.297 125.176 178.235 125.668 178.235 126.191Z" fill="white"></path> <path d="M0.886536 125C0.886536 193.548 56.4521 249.113 125 249.113C193.548 249.113 249.113 193.548 249.113 125C249.113 56.4521 193.548 0.886536 125 0.886536C56.4521 0.886536 0.886536 56.4521 0.886536 125Z" fill="rgb(var(--success))"></path> <path d="M111.197 173.775C109.244 175.728 106.078 175.727 104.126 173.775L58.5355 128.185C56.5829 126.232 56.5829 123.066 58.5355 121.114L69.0141 110.635C70.9667 108.682 74.1326 108.682 76.0852 110.635L107.661 142.211L174.326 75.535C176.278 73.5826 179.443 73.5819 181.396 75.5335L191.884 86.0142C193.838 87.9667 193.838 91.1334 191.885 93.0866L111.197 173.775Z" fill="white"></path>
                  </svg>
                </span>
              </div>
            </div>
          </div>

          <p>{{ section.settings.substitlemains1 }}</p>
          <!-- <h5>{{ 'general.default.footer_follow_text' | t }}</h5> -->
          <ul class="social-icon">
            {% unless settings.social_instagram_link == blank %}
              <li>
                <a
                  class="social-icons__link"
                  href="{{ settings.social_instagram_link }}"
                  target="_blank"
                  aria-describedby="a11y-external-message"
                >
                  {% include 'new-instagramsvg' %}
                </a>
              </li>
            {% endunless %}
            {% unless settings.social_facebook_link == blank %}
              <li>
                <a
                  class="social-icons__link"
                  href="{{ settings.social_facebook_link }}"
                  target="_blank"
                  aria-describedby="a11y-external-message"
                >
                  {% include 'new-facebook' %}
                </a>
              </li>
            {% endunless %}
            {% unless settings.social_tiktok_link == blank %}
              <li>
                <a
                  class="social-icons__link"
                  href="{{ settings.social_tiktok_link }}"
                  target="_blank"
                  aria-describedby="a11y-external-message"
                >
                  {% include 'new-tiktok' %}
                </a>
              </li>
            {% endunless %}
            {% unless settings.social_youtube_link == blank %}
              <li>
                <a
                  class="social-icons__link"
                  href="{{ settings.social_youtube_link }}"
                  target="_blank"
                  aria-describedby="a11y-external-message"
                >
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    role="presentation"
                    class="icon icon-youtube"
                    viewBox="0 0 21 20"
                  >
                    <path d="M-.196 15.803q0 1.23.812 2.092t1.977.861h14.946q1.165 0 1.977-.861t.812-2.092V3.909q0-1.23-.82-2.116T17.539.907H2.593q-1.148 0-1.969.886t-.82 2.116v11.894zm7.465-2.149V6.058q0-.115.066-.18.049-.016.082-.016l.082.016 7.153 3.806q.066.066.066.164 0 .066-.066.131l-7.153 3.806q-.033.033-.066.033-.066 0-.098-.033-.066-.066-.066-.131z"></path>
                  </svg>
                </a>
              </li>
            {% endunless %}
            {% unless settings.social_twitter_link == blank %}
              <li>
                <a
                  class="social-icons__link"
                  href="{{ settings.social_twitter_link }}"
                  target="_blank"
                  aria-describedby="a11y-external-message"
                >
                  {% include 'new-twitter' %}
                </a>
              </li>
            {% endunless %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright_block">
    <div class="page-width">
      <div class="footer-col-12">
        <div class="footer-bottom-box">
          <div class="footer-bottom-left">
            <!--
              <ul class="list-inline">

                <li>{{ section.settings.copy }}</li>
                <li>
                  <a href="{{section.settings.tr}}"> {{ section.settings.trt }} </a>
                </li>
                <li>
                  <a href="{{section.settings.pr}}"> {{ section.settings.prt }} </a>
                </li>
              </ul>
            -->
            
              <ul class="list-inline">
                <li><span class="country_icon">
              {% include 'newcountry-logo' %}
            </span>
         <p>  {{ section.settings.shippingfrom }}</p> </li>
              <!-- <li>
                <a href="{{section.settings.tr}}"> {{ section.settings.trt }} </a>
              </li> -->
              <li>
                <a href="{{section.settings.pr}}"> {{ section.settings.prt }} </a>
              </li>
              </ul>
          </div>
          <div class="footer-bottom-center">
            <span class="country_icon">
              {% include 'footer-logo' %}
            </span>
          </div>
          <div class="footer-bottom-right">
            {% comment %}
              <ul>
                {% include 'payment-icons' %}
              </ul>
            {% endcomment %}
            <ul class="list-inline">
              <!-- <li>
                <a href="{{section.settings.tr}}"> {{ section.settings.trt }} </a>
              </li>
              <li>
                <a href="{{section.settings.pr}}"> {{ section.settings.prt }} </a>
              </li> -->
              
                <li>{{ section.settings.copy }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<footer class="mobile-footer">
  <div class="footer-newsletter-box customer text-center">
    {% comment %}
      {{section.settings.mobile_logo}}
    {% endcomment %}

      <span class="mobile_logo">
              {% include 'footer-logo' %}
            </span>
    <h3>{{ section.settings.substitlemobile1 }}</h3>
    <p>{{ section.settings.substitle1 }}</p>
    <div class="footernewsletter-wrap">
      {% form 'customer', id: 'newsContactmobile', novalidate: 'novalidate', data-id: 'hello' %}
        {%- if form.posted_successfully? -%}
          <p class="form-message form-message--success" tabindex="-1" data-form-status>
            {{ 'general.default.successfully_subscribe_msg' | t }}
          </p>
        {%- endif -%}
        <input type="hidden" name="contact[tags]" value="newsletter">
        <div class="input-group field">
          <input
            id="emailData"
            type="email"
            for="email"
            name="contact[email]"
            value=""
            class="form-control"
            placeholder="Email Address"
          >
          <label for="CustomerEmail"> {{ 'general.default.placeholder_form_newsletter' | t }} </label>
        </div>
        <button type="submit">
          {% comment %}
            <i class="fas fa-chevron-right"></i>
          {% endcomment %}
          Subscribe
        </button>
      {% endform %}
      <div id="newsContact_aftermsgmobile" style="display:none;" class="form__submit-messaging">
        <span class="email_thankyou_message">Thanks for signing up!</span>
        <span class="form-icon form-icon__success">
          <svg width="24" height="24" viewBox="0 0 250 250" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M75.1873 123.062V125.395H66.1287V123.062H75.1873ZM66.8553 115.938V133H63.9139V115.938H66.8553ZM77.4491 115.938V133H74.5194V115.938H77.4491ZM79.6527 126.801V126.531C79.6527 125.617 79.7855 124.77 80.0511 123.988C80.3167 123.199 80.6995 122.516 81.1995 121.938C81.7073 121.352 82.3245 120.898 83.0511 120.578C83.7855 120.25 84.6136 120.086 85.5355 120.086C86.4652 120.086 87.2933 120.25 88.0198 120.578C88.7542 120.898 89.3753 121.352 89.8831 121.938C90.3909 122.516 90.7777 123.199 91.0433 123.988C91.3089 124.77 91.4417 125.617 91.4417 126.531V126.801C91.4417 127.715 91.3089 128.562 91.0433 129.344C90.7777 130.125 90.3909 130.809 89.8831 131.395C89.3753 131.973 88.7581 132.426 88.0316 132.754C87.305 133.074 86.4808 133.234 85.5589 133.234C84.6292 133.234 83.7972 133.074 83.0628 132.754C82.3363 132.426 81.7191 131.973 81.2113 131.395C80.7034 130.809 80.3167 130.125 80.0511 129.344C79.7855 128.562 79.6527 127.715 79.6527 126.801ZM82.4769 126.531V126.801C82.4769 127.371 82.5355 127.91 82.6527 128.418C82.7698 128.926 82.9534 129.371 83.2034 129.754C83.4534 130.137 83.7738 130.438 84.1644 130.656C84.555 130.875 85.0198 130.984 85.5589 130.984C86.0823 130.984 86.5355 130.875 86.9183 130.656C87.3089 130.438 87.6292 130.137 87.8792 129.754C88.1292 129.371 88.3128 128.926 88.43 128.418C88.555 127.91 88.6175 127.371 88.6175 126.801V126.531C88.6175 125.969 88.555 125.438 88.43 124.938C88.3128 124.43 88.1253 123.98 87.8675 123.59C87.6175 123.199 87.2972 122.895 86.9066 122.676C86.5238 122.449 86.0667 122.336 85.5355 122.336C85.0042 122.336 84.5433 122.449 84.1527 122.676C83.7698 122.895 83.4534 123.199 83.2034 123.59C82.9534 123.98 82.7698 124.43 82.6527 124.938C82.5355 125.438 82.4769 125.969 82.4769 126.531ZM100.477 130.457V124.41C100.477 123.957 100.395 123.566 100.231 123.238C100.067 122.91 99.8172 122.656 99.4813 122.477C99.1531 122.297 98.7391 122.207 98.2391 122.207C97.7781 122.207 97.3797 122.285 97.0438 122.441C96.7078 122.598 96.4461 122.809 96.2586 123.074C96.0711 123.34 95.9773 123.641 95.9773 123.977H93.1648C93.1648 123.477 93.2859 122.992 93.5281 122.523C93.7703 122.055 94.1219 121.637 94.5828 121.27C95.0438 120.902 95.5945 120.613 96.2352 120.402C96.8758 120.191 97.5945 120.086 98.3914 120.086C99.3445 120.086 100.188 120.246 100.923 120.566C101.665 120.887 102.247 121.371 102.669 122.02C103.098 122.66 103.313 123.465 103.313 124.434V130.07C103.313 130.648 103.352 131.168 103.43 131.629C103.516 132.082 103.638 132.477 103.794 132.812V133H100.899C100.766 132.695 100.661 132.309 100.583 131.84C100.513 131.363 100.477 130.902 100.477 130.457ZM100.888 125.289L100.911 127.035H98.8836C98.3602 127.035 97.8992 127.086 97.5008 127.188C97.1023 127.281 96.7703 127.422 96.5047 127.609C96.2391 127.797 96.0398 128.023 95.907 128.289C95.7742 128.555 95.7078 128.855 95.7078 129.191C95.7078 129.527 95.7859 129.836 95.9422 130.117C96.0984 130.391 96.325 130.605 96.6219 130.762C96.9266 130.918 97.2938 130.996 97.7234 130.996C98.3016 130.996 98.8055 130.879 99.2352 130.645C99.6727 130.402 100.016 130.109 100.266 129.766C100.516 129.414 100.649 129.082 100.665 128.77L101.579 130.023C101.485 130.344 101.325 130.688 101.098 131.055C100.872 131.422 100.575 131.773 100.208 132.109C99.8484 132.438 99.4148 132.707 98.907 132.918C98.407 133.129 97.8289 133.234 97.1727 133.234C96.3445 133.234 95.6063 133.07 94.9578 132.742C94.3094 132.406 93.8016 131.957 93.4344 131.395C93.0672 130.824 92.8836 130.18 92.8836 129.461C92.8836 128.789 93.0086 128.195 93.2586 127.68C93.5164 127.156 93.8914 126.719 94.3836 126.367C94.8836 126.016 95.493 125.75 96.2117 125.57C96.9305 125.383 97.7508 125.289 98.6727 125.289H100.888ZM97.6766 115L99.9617 118.527H97.6063L94.4773 115H97.6766ZM108.587 123.027V133H105.763V120.32H108.423L108.587 123.027ZM108.083 126.191L107.169 126.18C107.177 125.281 107.302 124.457 107.544 123.707C107.794 122.957 108.138 122.312 108.575 121.773C109.021 121.234 109.552 120.82 110.169 120.531C110.786 120.234 111.474 120.086 112.232 120.086C112.841 120.086 113.392 120.172 113.884 120.344C114.384 120.508 114.81 120.777 115.161 121.152C115.521 121.527 115.794 122.016 115.982 122.617C116.169 123.211 116.263 123.941 116.263 124.809V133H113.427V124.797C113.427 124.188 113.337 123.707 113.158 123.355C112.986 122.996 112.732 122.742 112.396 122.594C112.068 122.438 111.658 122.359 111.165 122.359C110.681 122.359 110.247 122.461 109.865 122.664C109.482 122.867 109.158 123.145 108.892 123.496C108.634 123.848 108.435 124.254 108.294 124.715C108.154 125.176 108.083 125.668 108.083 126.191ZM130.901 115.938V133H127.983V115.938H130.901ZM136.256 115.938V118.281H122.674V115.938H136.256ZM140.534 115V133H137.721V115H140.534ZM140.042 126.191L139.128 126.18C139.135 125.305 139.257 124.496 139.491 123.754C139.733 123.012 140.069 122.367 140.499 121.82C140.936 121.266 141.46 120.84 142.069 120.543C142.678 120.238 143.354 120.086 144.096 120.086C144.721 120.086 145.284 120.172 145.784 120.344C146.292 120.516 146.729 120.793 147.096 121.176C147.464 121.551 147.741 122.043 147.928 122.652C148.124 123.254 148.221 123.988 148.221 124.855V133H145.385V124.832C145.385 124.223 145.296 123.738 145.116 123.379C144.944 123.02 144.69 122.762 144.354 122.605C144.018 122.441 143.608 122.359 143.124 122.359C142.616 122.359 142.167 122.461 141.776 122.664C141.393 122.867 141.073 123.145 140.815 123.496C140.557 123.848 140.362 124.254 140.229 124.715C140.104 125.176 140.042 125.668 140.042 126.191ZM157.749 130.457V124.41C157.749 123.957 157.667 123.566 157.503 123.238C157.339 122.91 157.089 122.656 156.753 122.477C156.425 122.297 156.011 122.207 155.511 122.207C155.05 122.207 154.652 122.285 154.316 122.441C153.98 122.598 153.718 122.809 153.53 123.074C153.343 123.34 153.249 123.641 153.249 123.977H150.437C150.437 123.477 150.558 122.992 150.8 122.523C151.042 122.055 151.394 121.637 151.855 121.27C152.316 120.902 152.866 120.613 153.507 120.402C154.148 120.191 154.866 120.086 155.663 120.086C156.616 120.086 157.46 120.246 158.195 120.566C158.937 120.887 159.519 121.371 159.941 122.02C160.37 122.66 160.585 123.465 160.585 124.434V130.07C160.585 130.648 160.624 131.168 160.702 131.629C160.788 132.082 160.909 132.477 161.066 132.812V133H158.171C158.038 132.695 157.933 132.309 157.855 131.84C157.784 131.363 157.749 130.902 157.749 130.457ZM158.159 125.289L158.183 127.035H156.155C155.632 127.035 155.171 127.086 154.773 127.188C154.374 127.281 154.042 127.422 153.777 127.609C153.511 127.797 153.312 128.023 153.179 128.289C153.046 128.555 152.98 128.855 152.98 129.191C152.98 129.527 153.058 129.836 153.214 130.117C153.37 130.391 153.597 130.605 153.894 130.762C154.198 130.918 154.566 130.996 154.995 130.996C155.573 130.996 156.077 130.879 156.507 130.645C156.945 130.402 157.288 130.109 157.538 129.766C157.788 129.414 157.921 129.082 157.937 128.77L158.851 130.023C158.757 130.344 158.597 130.688 158.37 131.055C158.144 131.422 157.847 131.773 157.48 132.109C157.12 132.438 156.687 132.707 156.179 132.918C155.679 133.129 155.101 133.234 154.445 133.234C153.616 133.234 152.878 133.07 152.23 132.742C151.581 132.406 151.073 131.957 150.706 131.395C150.339 130.824 150.155 130.18 150.155 129.461C150.155 128.789 150.28 128.195 150.53 127.68C150.788 127.156 151.163 126.719 151.655 126.367C152.155 126.016 152.765 125.75 153.484 125.57C154.202 125.383 155.023 125.289 155.945 125.289H158.159ZM154.948 115L157.234 118.527H154.878L151.749 115H154.948ZM165.859 123.027V133H163.035V120.32H165.695L165.859 123.027ZM165.355 126.191L164.441 126.18C164.449 125.281 164.574 124.457 164.816 123.707C165.066 122.957 165.41 122.312 165.847 121.773C166.293 121.234 166.824 120.82 167.441 120.531C168.058 120.234 168.746 120.086 169.504 120.086C170.113 120.086 170.664 120.172 171.156 120.344C171.656 120.508 172.082 120.777 172.433 121.152C172.793 121.527 173.066 122.016 173.254 122.617C173.441 123.211 173.535 123.941 173.535 124.809V133H170.699V124.797C170.699 124.188 170.609 123.707 170.429 123.355C170.258 122.996 170.004 122.742 169.668 122.594C169.34 122.438 168.929 122.359 168.437 122.359C167.953 122.359 167.519 122.461 167.136 122.664C166.754 122.867 166.429 123.145 166.164 123.496C165.906 123.848 165.707 124.254 165.566 124.715C165.425 125.176 165.355 125.668 165.355 126.191ZM178.727 115V133H175.914V115H178.727ZM178.235 126.191L177.32 126.18C177.328 125.305 177.449 124.496 177.684 123.754C177.926 123.012 178.262 122.367 178.692 121.82C179.129 121.266 179.652 120.84 180.262 120.543C180.871 120.238 181.547 120.086 182.289 120.086C182.914 120.086 183.477 120.172 183.977 120.344C184.485 120.516 184.922 120.793 185.289 121.176C185.656 121.551 185.934 122.043 186.121 122.652C186.317 123.254 186.414 123.988 186.414 124.855V133H183.578V124.832C183.578 124.223 183.488 123.738 183.309 123.379C183.137 123.02 182.883 122.762 182.547 122.605C182.211 122.441 181.801 122.359 181.317 122.359C180.809 122.359 180.36 122.461 179.969 122.664C179.586 122.867 179.266 123.145 179.008 123.496C178.75 123.848 178.555 124.254 178.422 124.715C178.297 125.176 178.235 125.668 178.235 126.191Z" fill="white"></path> <path d="M0.886536 125C0.886536 193.548 56.4521 249.113 125 249.113C193.548 249.113 249.113 193.548 249.113 125C249.113 56.4521 193.548 0.886536 125 0.886536C56.4521 0.886536 0.886536 56.4521 0.886536 125Z" fill="rgb(var(--success))"></path> <path d="M111.197 173.775C109.244 175.728 106.078 175.727 104.126 173.775L58.5355 128.185C56.5829 126.232 56.5829 123.066 58.5355 121.114L69.0141 110.635C70.9667 108.682 74.1326 108.682 76.0852 110.635L107.661 142.211L174.326 75.535C176.278 73.5826 179.443 73.5819 181.396 75.5335L191.884 86.0142C193.838 87.9667 193.838 91.1334 191.885 93.0866L111.197 173.775Z" fill="white"></path>
          </svg>
        </span>
      </div>
    </div>
  </div>
 <div class="social-icons-nav">
    {% if section.settings.headingicons != blank %}
      <!-- <h3>{{ section.settings.headingicons }}</h3> -->
    {% endif %}
    <ul class="social-icon">
      {% unless settings.social_instagram_link == blank %}
        <li>
          <a
            class="social-icons__link"
            href="{{ settings.social_instagram_link }}"
            target="_blank"
            aria-describedby="a11y-external-message"
          >
            {% include 'new-instagramsvg' %}
          </a>
        </li>
      {% endunless %}
      {% unless settings.social_facebook_link == blank %}
        <li>
          <a
            class="social-icons__link"
            href="{{ settings.social_facebook_link }}"
            target="_blank"
            aria-describedby="a11y-external-message"
          >
            {% include 'new-facebook' %}
          </a>
        </li>
      {% endunless %}
      {% unless settings.social_tiktok_link == blank %}
        <li>
          <a
            class="social-icons__link"
            href="{{ settings.social_tiktok_link }}"
            target="_blank"
            aria-describedby="a11y-external-message"
          >
            {% include 'new-tiktok' %}
          </a>
        </li>
      {% endunless %}
      {% unless settings.social_youtube_link == blank %}
        <li>
          <a
            class="social-icons__link"
            href="{{ settings.social_youtube_link }}"
            target="_blank"
            aria-describedby="a11y-external-message"
          >
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-youtube" viewBox="0 0 21 20">
              <path d="M-.196 15.803q0 1.23.812 2.092t1.977.861h14.946q1.165 0 1.977-.861t.812-2.092V3.909q0-1.23-.82-2.116T17.539.907H2.593q-1.148 0-1.969.886t-.82 2.116v11.894zm7.465-2.149V6.058q0-.115.066-.18.049-.016.082-.016l.082.016 7.153 3.806q.066.066.066.164 0 .066-.066.131l-7.153 3.806q-.033.033-.066.033-.066 0-.098-.033-.066-.066-.066-.131z"></path>
            </svg>
          </a>
        </li>
      {% endunless %}
      {% unless settings.social_twitter_link == blank %}
        <li>
          <a
            class="social-icons__link"
            href="{{ settings.social_twitter_link }}"
            target="_blank"
            aria-describedby="a11y-external-message"
          >
            {% include 'new-twitter' %}
          </a>
        </li>
      {% endunless %}
    </ul>
  </div>
  <div class="container">
    <div class="footer-tab-section">
      <div class="section-header">
        <div class="section-text">
          <h3>{{ section.settings.text1 }}</h3>
        </div>
        <button
          class="toggle-section toggle-btn"
          data-toggle-content="section1"
        >
        <svg class="minus_icon" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none" style="display:none">
<path d="M11 6.71373H6.71429H5.28571H1V5.28516H5.28571L6.71429 5.28523L11 5.28516V6.71373Z" fill="black"/>
</svg>
  <svg class="plus_icon" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg" >
<path d="M11 6.71429H6.71429V11H5.28571V6.71429H1V5.28571H5.28571V1H6.71429V5.28571H11V6.71429Z" fill="black"/ >
</svg>
        </button>
      </div>
      <div class="section-content" id="section1">
        <div>
          <div class="footer-menu-innerbox">
            <ul>
              {% for link in linklists[section.settings.col1].links %}
                <li>
                  <a href="{{link.url}}"> {{ link.title }} </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-tab-section">
      <div class="section-header">
        <div class="section-text">
          <h3>{{ section.settings.text2 }}</h3>
        </div>
        <button
          class="toggle-section toggle-btn"
          data-toggle-content="section2"
        >
                  <svg class="minus_icon" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none" style="display:none">
<path d="M11 6.71373H6.71429H5.28571H1V5.28516H5.28571L6.71429 5.28523L11 5.28516V6.71373Z" fill="black"/>
</svg>
  <svg class="plus_icon" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg" >
<path d="M11 6.71429H6.71429V11H5.28571V6.71429H1V5.28571H5.28571V1H6.71429V5.28571H11V6.71429Z" fill="black"/ >
</svg>
        </button>
      </div>
      <div class="section-content" id="section2">
        <div>
          <div class="footer-menu-innerbox">
            <ul>
              {% for link in linklists[section.settings.col2].links %}
                <li>
                  <a href="{{link.url}}"> {{ link.title }} </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-tab-section">
      <div class="section-header">
        <div class="section-text">
          <h3>{{ section.settings.text3 }}</h3>
        </div>
        <button
          class="toggle-section toggle-btn"
          data-toggle-content="section3"
        >
                 <svg class="minus_icon" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none" style="display:none">
<path d="M11 6.71373H6.71429H5.28571H1V5.28516H5.28571L6.71429 5.28523L11 5.28516V6.71373Z" fill="black"/>
</svg>
  <svg class="plus_icon" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg" >
<path d="M11 6.71429H6.71429V11H5.28571V6.71429H1V5.28571H5.28571V1H6.71429V5.28571H11V6.71429Z" fill="black"/ >
</svg>
        </button>
      </div>
      <div class="section-content" id="section3">
        <div>
          <div class="footer-menu-innerbox">
            <ul>
              {% for link in linklists[section.settings.col3].links %}
                <li>
                  <a href="{{link.url}}"> {{ link.title }} </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
 

  <div class="page-width">
    {% comment %}
      <div class="footer-bottom-right">
           <ul> {% include 'payment-icons' %}</ul>

           </div>
    {% endcomment %}
    <!--<div class="footer-col-12">
       <div class="footer-bottom-box">
        <div class="footer-bottom-left text-center">
          <ul class="list-inline">
            <li>
              <a href="{{section.settings.tr}}"> {{ section.settings.trt }} </a>
            </li>
            <li>
              <a href="{{section.settings.pr}}"> {{ section.settings.prt }} </a>
            </li>

            <li>{{ section.settings.copy }}</li>
          </ul>
        </div>
      </div> 
    </div>-->
    <div class="footer-menu-innerbox shipping_block">
      {% if section.settings.shippingfrom != blank %}
        {% comment %}
          <h5> {{section.settings.textship}} </h5>
        {% endcomment %}
        <div class="footershipping_info">
        
          <span class="country_icon">
            {% include 'newcountry-logo' %}
          </span>
          <p>{{ section.settings.shippingfrom }}</p>
    
        </div>
        <div class="footer_copy_mob">
              <ul class="list-inline">

                <li>{{ section.settings.copy }}</li>
        </ul>
        </div>
      {% endif %}
    </div>
  </div>
</footer>
<script>
// document.addEventListener('DOMContentLoaded', function () {
// // Select all toggle buttons
// const buttonswwwww = document.querySelectorAll('.toggle-btn');
// console.log(buttonswwwww);
// // Iterate over each toggle button
// buttonswwwww.forEach(function(button) {
//     // Find related elements within the button's parent element
//     const svgPlus = button.querySelector('.plus_icon');
//     const svgMinus = button.querySelector('.minus_icon');
//     const sectionContent = button.parentElement.querySelector('.section-content');

//     // Attach click event listener to the button
//     button.addEventListener('click', function () {
//         sectionContent.classList.toggle('active');
//         // Toggle display of plus and minus icons
//         if (sectionContent.classList.contains('active')) {
//             svgPlus.style.display = 'none';
//             svgMinus.style.display = 'inline-block';
//         } else {
//             svgPlus.style.display = 'inline-block';
//             svgMinus.style.display = 'none';
//         }
//     });
// });

// });


</script>
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      {% assign image_size = section.settings.logo.width | append: 'x' %}
      "logo": {{ section.settings.logo | img_url: image_size | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ shop.url | append: page.url | json }}
  }
</script>
<script>
  function formToJSON(elements) {
  	return [].reduce.call(elements, function (data, element) {
  		data[element.name] = element.value;
  		return data;
  	}, {});
  }
  function getUrlString(data) {
  	var urlParameters = Object.entries(data).map(function (e) {
  		return e.join('=');
  	}).join('&');

  	return urlParameters;
  }

  document.getElementById("newsContact").addEventListener("submit", function(e){
    e.preventDefault();
    var form_type = e.target.querySelector("[name=form_type]").value,
        inputs = e.target.querySelectorAll("[name]"),
        alert = e.target.querySelector('[data-alert="status"]'),
        alert_msgs = e.target.querySelector('.form-alerts');
    var action = e.target.getAttribute("action");
    if(e.target.querySelector("#emailData").value == ""){
      return false;
    }

    console.log("Form Action: " + action);
    console.log("Submitting " + form_type + " form...");

    fetch(action, {
          method: 'POST',
          body: getUrlString(formToJSON(inputs)),
          headers: {
              'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
              'Accept': 'text/html, */*; q=0.01',
              'X-Requested-With': 'XMLHttpRequest'
          }
      }).then(function(response) {
          console.log(response);
          console.log(response.status);
          document.getElementById("newsContact_aftermsg").style.display = "block";
      }).catch(function(err) {
          console.error(err);
      });
  });


  // for mobile newsletter js
    function formToJSON(elements) {
  	return [].reduce.call(elements, function (data, element) {
  		data[element.name] = element.value;
  		return data;
  	}, {});
  }
  function getUrlString(data) {
  	var urlParameters = Object.entries(data).map(function (e) {
  		return e.join('=');
  	}).join('&');

  	return urlParameters;
  }

  document.getElementById("newsContactmobile").addEventListener("submit", function(e){
    e.preventDefault();
    var form_type = e.target.querySelector("[name=form_type]").value,
        inputs = e.target.querySelectorAll("[name]"),
        alert = e.target.querySelector('[data-alert="status"]'),
        alert_msgs = e.target.querySelector('.form-alerts');
    var action = e.target.getAttribute("action");
    if(e.target.querySelector("#emailData").value == ""){
      return false;
    }

    console.log("Form Action: " + action);
    console.log("Submitting " + form_type + " form...");

    fetch(action, {
          method: 'POST',
          body: getUrlString(formToJSON(inputs)),
          headers: {
              'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
              'Accept': 'text/html, */*; q=0.01',
              'X-Requested-With': 'XMLHttpRequest'
          }
      }).then(function(response) {
          console.log(response);
          console.log(response.status);
          document.getElementById("newsContact_aftermsgmobile").style.display = "block";
      }).catch(function(err) {
          console.error(err);
      });
  });
</script>
{% schema %}
  {
    "name": "Footer",
    "settings": [

 {
            "id": "text1",
            "type": "textarea",
            "label": "Add heading (Section-1)"
          },
          {
            "id": "col1",
            "type": "link_list",
            "label": "Add menu (Section-1)"
          },
         {
            "id": "text2",
            "type": "textarea",
            "label": "Add heading (Section-2)"
          },
          {
            "id": "col2",
            "type": "link_list",
            "label": "Add menu (Section-2)"
          },

         {
            "id": "text3",
            "type": "textarea",
            "label": "Add heading (Section-3)"
          },
       {
            "id": "textship",
            "type": "textarea",
            "label": "Shipping From"
          },
          {
            "id": "col3",
            "type": "link_list",
            "label": "Add menu (Section-3)"
          },
        {
            "id": "copy",
            "type": "textarea",
            "label": "Add copywrite content"
          },
          {
            "id": "prt",
            "type": "text",
            "label": "Add privacy page title"
          },
         {
            "id": "pr",
            "type": "url",
            "label": "Add privacy page url"
          },
        {
            "id": "trt",
            "type": "text",
            "label": "Add terms page title"
          },
           {
            "id": "tr",
            "type": "url",
            "label": "Add terms page url"
          },
       {
            "id": "substitlemain1",
            "type": "textarea",
            "label": "Main subscription heading"
          },
{
            "id": "substitle",
            "type": "textarea",
            "label": "Add subscription heading"
          },
       {
            "id": "substitlemains1",
            "type": "textarea",
            "label": "Below form text "
          },
      {
            "id": "substitle1",
            "type": "textarea",
            "label": "Add subscription heading Mobile"
          },
      {
            "id": "substitlemobile1",
            "type": "textarea",
            "label": "Add subscription Main heading Mobile"
          },
      
          {
            "id": "logo",
            "type": "text",
            "label": "Add logo"
          },
          {
            "type" : "text",
            "id" : "shippingfrom",
            "label" : "Shipping From AUS and NZ"
          },
          {
            "type" : "url",
            "id" : "shippinngurl",
            "label" : "URL for shipping From"
          },
          {
            "type" : "text",
            "id" : "headingicons",
            "label" : "Icon section heading for mobile"
          },
          {
            "id": "mobile_logo",
            "type": "text",
            "label": "Add Mobile logo"
          }
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
