<div class="terms_page_wrap">
  <div class="page-width">
    <div class="terms_page_inner">
      <div class="t_p_left_bar">
        <ul class="page_sec_tabs">
          {% for block in section.blocks %}
            <li class="{% if forloop.first %}active{% endif %}"><a href="#{{ block.settings.heading | handle }}">{{ block.settings.heading }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="t_p_main_content" id="term-conditions-nav">
        <h2 class="page_title">{{ page.title }}</h2>
        {% for block in section.blocks %}
        <div id="{{ block.settings.heading | handle }}">
          <h4>{{ block.settings.heading }}</h4>
          {{ block.settings.content }}
        </div>
        {% endfor %}
        
        
      </div>
    </div>
  </div>

<div class="help_center_page">
                    <div class="help_contact_info hide_desktop">
                      <h6>Need more help?</h6>
                      <ul>
                        {% if section.settings.phone_number != blank %}
                        <li>
                          <a href="tel:{{ section.settings.phone_number }}">
                            <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M17.9413 3.02218C16.9731 2.06078 15.8207 1.29854 14.5509 0.779729C13.2812 0.260923 11.9195 -0.00410219 10.545 4.79983e-05C4.77947 4.79983e-05 0.088974 4.62093 0.088974 10.298C0.0833847 12.106 0.564497 13.883 1.48325 15.448L0 20.7857L5.5436 19.352C7.07698 20.1748 8.79482 20.6067 10.5408 20.6083H10.545C16.3063 20.6083 20.9958 15.9875 20.9999 10.3063C21.0044 8.95313 20.7363 7.61259 20.2113 6.36226C19.6862 5.11193 18.9147 3.97666 17.9413 3.02218ZM15.6594 13.9813C15.4427 14.5816 14.3761 15.1613 13.8977 15.2015C13.4152 15.2459 12.9661 15.415 10.7617 14.562C8.10291 13.5306 6.42811 10.8467 6.29622 10.6734C6.16537 10.5043 5.23271 9.27894 5.23271 8.01438C5.23271 6.7457 5.90787 6.12477 6.14548 5.86691C6.38624 5.60905 6.66886 5.54407 6.84471 5.54407C7.01638 5.54407 7.19224 5.54407 7.34297 5.55232C7.53138 5.55645 7.7355 5.56779 7.93229 5.99584C8.16467 6.50331 8.67234 7.77612 8.73829 7.90505C8.80319 8.03398 8.8482 8.18767 8.75818 8.35682C8.67234 8.53011 8.62733 8.63531 8.50068 8.78797C8.36983 8.9365 8.22643 9.12216 8.10814 9.23458C7.9773 9.36351 7.84227 9.50482 7.993 9.76268C8.14478 10.0205 8.66816 10.8622 9.44485 11.543C10.4424 12.4218 11.285 12.692 11.5467 12.8209C11.8084 12.9499 11.9591 12.9292 12.1109 12.7559C12.2658 12.5868 12.7651 12.0071 12.941 11.7492C13.1127 11.4914 13.2885 11.5357 13.5251 11.6203C13.7658 11.7049 15.0502 12.3289 15.3119 12.4579C15.5736 12.5868 15.7452 12.6518 15.8112 12.757C15.8761 12.8653 15.8761 13.381 15.6594 13.9813Z" fill="#707070"/>
                            </svg>
                            {{ section.settings.phone_number }}
                          </a>
                        </li>
                          {% endif %}
                        {% if section.settings.live_chat_url != blank %}
                        <li>
                          <a href="{% if section.settings.live_chat_url %}{{ section.settings.live_chat_url }}{% else %}javascript:void(){% endif %}">
                            <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M5.25214 12.4013C5.38003 13.2218 5.3266 14.0608 5.09571 14.8577C5.06893 14.9508 5.06939 15.0497 5.09704 15.1425C5.12469 15.2353 5.17834 15.3179 5.25145 15.3804C5.32457 15.4428 5.414 15.4823 5.50886 15.4941C5.60371 15.5059 5.6999 15.4895 5.78571 15.4468C6.80786 14.9229 8.25429 13.9599 9.02786 12.4666H10.0543C10.8615 12.4671 11.661 12.3064 12.407 11.9934C13.153 11.6805 13.8309 11.2216 14.402 10.6429C14.9731 10.0641 15.4262 9.37691 15.7354 8.62049C16.0447 7.86407 16.204 7.05326 16.2043 6.23437C16.2043 4.58129 15.5571 2.99588 14.405 1.82677C13.2529 0.657664 11.6903 0.000576388 10.0607 0H6.14571C4.51577 0 2.95258 0.656833 1.80004 1.826C0.647493 2.99517 0 4.58091 0 6.23437C0.000268806 7.73057 0.530962 9.17677 1.4952 10.309C2.45943 11.4411 3.79289 12.1838 5.25214 12.4013ZM10.5771 5.3279C10.7539 5.3279 10.9266 5.38107 11.0736 5.48067C11.2205 5.58027 11.3351 5.72184 11.4027 5.88748C11.4703 6.05311 11.488 6.23537 11.4535 6.41121C11.4191 6.58704 11.334 6.74856 11.209 6.87533C11.084 7.0021 10.9248 7.08843 10.7515 7.12341C10.5781 7.15838 10.3985 7.14043 10.2352 7.07183C10.0719 7.00322 9.93235 6.88703 9.83417 6.73797C9.73598 6.5889 9.68357 6.41365 9.68357 6.23437C9.68414 5.99413 9.77846 5.7639 9.94592 5.59403C10.1134 5.42416 10.3403 5.32848 10.5771 5.3279ZM8.10214 5.3279C8.27888 5.3279 8.45164 5.38107 8.59859 5.48067C8.74553 5.58027 8.86006 5.72184 8.9277 5.88748C8.99533 6.05311 9.01302 6.23537 8.97855 6.41121C8.94407 6.58704 8.85896 6.74856 8.73399 6.87533C8.60903 7.0021 8.44981 7.08843 8.27647 7.12341C8.10313 7.15838 7.92347 7.14043 7.76019 7.07183C7.59691 7.00322 7.45735 6.88703 7.35917 6.73797C7.26098 6.5889 7.20857 6.41365 7.20857 6.23437C7.20914 5.99413 7.30346 5.7639 7.47092 5.59403C7.63837 5.42416 7.86533 5.32848 8.10214 5.3279ZM5.62714 5.3279C5.80387 5.3279 5.97664 5.38107 6.12358 5.48067C6.27053 5.58027 6.38506 5.72184 6.4527 5.88748C6.52033 6.05311 6.53802 6.23537 6.50354 6.41121C6.46907 6.58704 6.38396 6.74856 6.25899 6.87533C6.13403 7.0021 5.97481 7.08843 5.80147 7.12341C5.62813 7.15838 5.44847 7.14043 5.28519 7.07183C5.12191 7.00322 4.98235 6.88703 4.88417 6.73797C4.78598 6.5889 4.73357 6.41365 4.73357 6.23437C4.73414 5.99376 4.82876 5.7632 4.99668 5.59327C5.16459 5.42334 5.3921 5.3279 5.62929 5.3279H5.62714ZM21 12.36C20.9939 13.5888 20.5891 14.7812 19.8482 15.7533C19.1073 16.7253 18.0714 17.4228 16.9007 17.7379C16.8934 18.0931 16.9404 18.4473 17.04 18.7879C17.1016 19.0011 17.1005 19.228 17.0368 19.4406C16.9731 19.6532 16.8496 19.8424 16.6814 19.9848C16.5132 20.1272 16.3077 20.2168 16.0901 20.2424C15.8725 20.268 15.6523 20.2286 15.4564 20.1291C14.6421 19.7117 13.575 19.0009 12.8679 17.914H12.5014C11.7484 17.9128 11.0036 17.7547 10.3132 17.4496C9.62281 17.1445 9.00153 16.6988 8.48786 16.1402C8.38579 15.9897 8.34084 15.8069 8.36131 15.6254C8.38178 15.4439 8.46628 15.2761 8.59922 15.1529C8.73216 15.0297 8.90455 14.9595 9.08456 14.9552C9.26457 14.9508 9.44004 15.0127 9.57857 15.1294C9.95072 15.5387 10.4028 15.8648 10.906 16.0871C11.4092 16.3094 11.9526 16.423 12.5014 16.4206H13.2857C13.4216 16.4206 13.5549 16.4583 13.6712 16.5296C13.7875 16.6008 13.8825 16.703 13.9457 16.825C14.3083 17.4679 14.824 18.0082 15.4457 18.3966C15.3944 17.9358 15.4038 17.4702 15.4736 17.0119C15.4975 16.8519 15.5714 16.7039 15.6844 16.5896C15.7975 16.4754 15.9436 16.4009 16.1014 16.3772C16.9293 16.2568 17.699 15.8756 18.3018 15.2876C18.9047 14.6996 19.3103 13.9344 19.4613 13.0999C19.6124 12.2655 19.5013 11.404 19.1438 10.6371C18.7862 9.87011 18.2002 9.23644 17.4686 8.8255C17.3833 8.77697 17.3083 8.71188 17.2478 8.63394C17.1874 8.55601 17.1426 8.46675 17.1162 8.37128C17.0897 8.2758 17.082 8.17597 17.0936 8.07749C17.1052 7.97901 17.1357 7.8838 17.1836 7.7973C17.2314 7.71081 17.2956 7.63472 17.3724 7.57338C17.4492 7.51204 17.5372 7.46665 17.6313 7.4398C17.7255 7.41296 17.8239 7.40518 17.9209 7.41691C18.018 7.42865 18.1119 7.45966 18.1971 7.50819C19.0465 7.99208 19.7538 8.69645 20.2463 9.54906C20.7388 10.4017 20.999 11.3718 21 12.36Z" fill="#707070"/>
                            </svg>
                            <span>Live Chat: <em>Offline</em></span>
                          </a>
                        </li>
                        {% endif %}

                      {% if section.settings.email_address != blank %}    
                        <li>
                          <a href="mailto:{{ section.settings.email_address }}">
                            <svg width="21" height="15" viewBox="0 0 21 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M1.22447 0.5L10.5 7.96683L19.7755 0.5H1.22447ZM0 1.47637V14.3293H21V1.47637L10.9802 9.54345C10.8439 9.65253 10.6746 9.71198 10.5 9.71198C10.3254 9.71198 10.1561 9.65253 10.0198 9.54345L0 1.47637Z" fill="#707070"/>
                            </svg>
                            {{ section.settings.email_address }}
                          </a>
                        </li>
                      {% endif %}
                      </ul>
                    </div>
           </div> 
  
</div>
{% schema %}
  {
    "name": "Section Privacy",
    "settings": [
       {
        "type" : "header",
        "content" : "Need Your Help Info"
      },
      {
        "type" : "text",
        "id" : "phone_number",
        "label" : "Phone Number"
      },
      {
        "type" : "text",
        "id" : "email_address",
        "label" : "Email Address"
      },
      {
        "type" : "url",
        "id" : "live_chat_url",
        "label" : "Live Chat Url"
      }
      
    ],
    "blocks": [
      {
       "name": "Privacy Section",
       "type": "privacy",
       "settings": [
           {
             "type": "text",
             "id": "heading",
             "label": "Heading"
           },
           {
             "type": "richtext",
             "id": "content",
             "label": "content"
           }         
       ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
<script>
$(document).ready(function(){
$('.page_sec_tabs li a[href^="#"]').click(function() {
    $(".page_sec_tabs li").removeClass('active');
    $(this).parents('li').addClass('active');
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {                   
            $('html, body').animate({
                scrollTop: target.offset().top - 150
            }, 500);
            return false;
        }
    }
});
});
</script>